.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .counter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .counter-item h3 {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .counter-item p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .increment-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .counter {
      flex-direction: row;
    }
    
    .counter-item {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  